%rubik-400{
	font-family: 'Rubik-Regular', sans-serif;
	font-weight: 400;
}
%rubik-500{
	font-family: 'Rubik-Medium', sans-serif;
	font-weight: 500;
}
%dmsans-400{
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 400;
}
%dmsans-500{
	font-family: 'DMSans-Medium', sans-serif;
	font-weight: 500;
}
%dmsans-700{
	font-family: 'DMSans-Bolt', sans-serif;
	font-weight: 700;
}
%poppins-700{
	font-family: 'Poppins-Bolt', sans-serif;
	font-weight: 700;
}

$default: #436372;
$bodily: #fcd7b6;
$around: #a3bbc8;
$link: #7b7b7b;
$title: #1f2044;
$bg: #fef7f0;